<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>  
    <pipelines>
      <commerce.shipping.getShippingOptions>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Shipping.GetShippingOptions, Sitecore.Commerce.Engine.Connect']"
                   type="Brother.Commerce.Feature.Cart.Pipelines.GetAllShipmentOptions, Brother.Commerce.Feature.Cart">
          <param ref="entityFactory"/>
        </processor>
      
      </commerce.shipping.getShippingOptions>
      <translate.entityToParty>
        <processor patch:instead="processor[@type='Sitecore.Commerce.Engine.Connect.Pipelines.Customers.TranslateEntityToParty, Sitecore.Commerce.Engine.Connect']"
               type="Brother.Commerce.Engine.Connect.Pipelines.Customers.TranslateEntityToParty, Brother.Commerce.Feature.Cart">
        </processor>
      </translate.entityToParty>
    </pipelines>
    </sitecore>
</configuration>